


.App {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* 
.main-content{
  /* background-color: #0cc935; 
    height: 100vh; 
} */
header{
  margin: 30px 470px ;
  /* background-color: red; */
  padding: 40px;
  width: 500px;

}




h2{
 font-size: 39px;
 text-transform: capitalize;
}

.dot-group {
  display: flex;
  gap: 5px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.input-section {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border: 2px solid #d9d9d9;
  border-radius: 16px;
  padding: 10px 15px;
  margin-bottom: 20px;
   /* background-color: red; */
   margin: 0 auto;
  width: 690px;
}

input{
  flex: 1;
  border: none;
  outline: none;
  /* font-size: 14px; */
  /* color: #555; */
  background-color: #Ffff; 
  /* border-radius: 10px; */
  font-size: 27px;
  /* text-transform: capitalize; */
  color: black;
  padding:  5px 10px;
 
 
}

.task-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: yellow; */
  color: #717082;
  font-size: 24px;
  width: 100%;
  margin: 0 auto;
  /* height: 100vh; */
  margin-top: 30px;
}


.task-cards{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border: 2px solid #d9d9d9;
  border-radius: 16px;
  padding: 19px 15px;
  margin-bottom: 20px;
   /* background-color: red; */
   margin: 0 auto;
  width: 599px;
  margin-top: 28px;
  position: relative;
}



 /* .checkbox {
  width: 15px;
  height: 15px;
  border: 2px solid #ccc;
  border-radius: 50%;
}  */

.circle-icons{
position: absolute;
right: 49px;
cursor: pointer;
}


.completed-text {
  text-decoration: line-through;
  color: #0cc935;
 

}

.delete-icon{
  position: absolute;
  right: 5px;
  cursor: pointer;
}

/* .task-name {
  flex: 1;
  font-size: 16px;
  color: #333333;
  text-align: left;
} */

















/* icon {
  color: #aaa;
  font-size: 18px;
 
} */


